.App {
  background-color: lightsteelblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.todo {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
